a, .linkColor {
  color: rgb(218, 139, 90);
  text-decoration: none;
}

.changing-text {
  min-width: 100px;
  display: inline-block;
  color: #ce4343;
  text-align: center;

  animation: trans-opa 2.0s infinite;
}
@keyframes trans-opa {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}