:root {
--color_main: #333;
/* #23A6D5; */
--color_accent: #222;
/* #23D5AB; */
--color_secondary: #ddd;
/* #EE7752; */
--color_secondary_accent: #ccc;
/* #E73C7E; */
--degree: -45deg;
--animation-time: 15s;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #ccc;

  margin: 0;
  padding: 0;

  color: #5ecfcf;
  text-shadow: 1px 2px #000;
  font-size: 150%;

  /* color: white;
  font-family: "Roboto";
  font-weight: lighter;
  overflow: hidden; */
}
body::before, body::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
body::before {
  width: 100%;
  height: 100%;

  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
body::after {
  content: "";
  width: 400%;
  height: 400%;
  opacity: 0.8;
  background: -moz-linear-gradient(var(--degree), var(--color_secondary), var(--color_secondary_accent), var(--color_main), var(--color_accent));
  background: -webkit-linear-gradient(var(--degree), var(--color_secondary), var(--color_secondary_accent), var(--color_main), var(--color_accent));
  background: linear-gradient(var(--degree), var(--color_secondary), var(--color_secondary_accent), var(--color_main), var(--color_accent));
  -webkit-animation: gradient_transition var(--animation-time) ease infinite;
  -moz-animation: gradient_transition var(--animation-time) ease infinite;
  -o-animation: gradient_transition var(--animation-time) ease infinite;
  animation: gradient_transition var(--animation-time) ease infinite;
}

h1, h2{
    font-family: 'Bangers', cursive;
}
h1{
  letter-spacing: 13px;
}
h3, h4, p{
    font-family: 'Audiowide', cursive;
}
h4{
  color: powderblue;
}
p, li, a{
  color: #a0cf5e;
}
@-webkit-keyframes gradient_transition {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: -200%;
    left: -200%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@-moz-keyframes gradient_transition {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: -200%;
    left: -200%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@-o-keyframes gradient_transition {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: -200%;
    left: -200%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes gradient_transition {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: -200%;
    left: -200%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
