body {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #ccc;

  color: #5ecfcf;
  text-shadow: 1px 2px #000;
  font-size: 150%;
}
h1, h2{
    font-family: 'Bangers', cursive;
}
h1{
  letter-spacing: 13px;
}
h2, figcaption{
  letter-spacing: 2px;
  color: #a0cf5e;
}
h3, h4, p{
    font-family: 'Audiowide', cursive;
}
h4{
  color: powderblue;
}
p, li, a{
  color: #a0cf5e;
}
